  <div class="content-page container">

            <div class="row">
                <!--Titulo contenido -->
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><span class="glyphicon glyphicon-pushpin"></span>Eventos<small>  Come in!</small></h1>
                    </div>
                </div>

                <!--Menu Lateral. Filtro de busqueda-->
                <div class="col-md-4">

                    <div class="panel panel-default profile-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Busqueda</h3>
                        </div>

                        <div class="panel-body">

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Nombre del Evento:</h4>
                                <div class="input-group">
                                    <input #findName type="text" class="form-control" placeholder="Nombre del evento">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda" (click)="findEventsByName(findName.value)">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Banda:</h4>
                                <div class="input-group">
                                    <input #findBand type="text" class="form-control" placeholder="Nombre de la banda">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda" (click)="findEventsByBand(findBand.value)">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <!--<div class="col-lg-12">
                                <h4 id="opciones">Genero:</h4>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Rock
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Pop
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Jazz
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Rap
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Reggae
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Metal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Hard Rock
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Punk
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Indie
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Blues
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Grunge
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Trash Metal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Otros
                                    </label>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

                <!--Lista de Eventos-->
                <div class="col-md-8">

                    <table class="table">

                        <thead>
                            <tr>
                                <th id="esquinaTablaArtista1"></th>
                                <th>Evento</th>
                                <!--<th>Generos</th>-->
                                <th>Bandas</th>
                                <th>Fecha</th>
                                <th id="esquinaTablaArtista2">Localización</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="#ev of events">
                                <td><a [routerLink]="['Event', {id: ev.id}]" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a [routerLink]="['Event', {id: ev.id}]" class="enlaceListaArtista">{{ev.name}}</a></td>
                                <td>
                                    <ul>
                                        <li *ngFor="#ba of ev.bands"><a id="no_color_link" [routerLink]="['Band', {id: ba.id}]">{{ba.groupName}}</a></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li >{{ev.date.getDate()}}/{{ev.date.getMonth()+1}}/{{ev.date.getFullYear()}}</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li >{{ev.direction}}</li>
                                    </ul>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <!--Paginas-->
                </div>
                <!--Fin Lista de Artistas-->

            </div>
          <!--<ul class="pagination" id="paginasArtistas">
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
          </ul>-->
  </div>
