<div class="content-page container">
    <div class="row">
        <!--Titulo contenido -->
        <div class="col-md-12">
            <div class="page-header">
                <h1>Seguidos</h1>
            </div>
        </div>


        <!--Lista de Artistas-->
        <div class="col-md-12">

            <table class="table">

                <thead>
                <tr>
                    <th id="esquinaTablaArtista1">Perfil</th>
                    <th>Nombre </th>
                    <th>Es Artista</th>

                </tr>
                </thead>

                <tbody>


                <tr *ngFor="#us of userList">
                    <td><a [routerLink]="['Artist', {id: us.id}]" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                    <td><a [routerLink]="['Artist', {id: us.id}]" class="enlaceListaArtista">{{us.userName}}</a></td>

                    <td>
                        <div *ngIf="us.isArtist">Si</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--Paginas-->
            <!--<ul class="pagination" id="paginasArtistas">
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>-->
        </div>
    </div>
</div>