<div class="content-page container">
            <div class="row">
                <!--Titulo contenido -->
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><span class="glyphicon glyphicon-text-background"></span>rtistas<small> Follow them!</small></h1>
                    </div>
                </div>

                <!--Menu Lateral. Filtro de busqueda-->
                <div class="col-md-4">

                    <div class="panel panel-default profile-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Búsqueda</h3>
                        </div>

                        <div class="panel-body">

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Nombre:</h4>
                                <div class="input-group">
                                    <input #findName type="text" class="form-control" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda" (click)="findByName(findName.value); findName.value=' '"  >Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Banda:</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" >
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->


                        </div>
                    </div>
                </div>

                <!--Lista de Artistas-->
                <div class="col-md-8">

                    <table class="table">

                        <thead>
                            <tr>
                                <th id="esquinaTablaArtista1">Perfil</th>
                                <th>Nombre </th>
                                <th>Es Artista</th>
                                <th>Instrumentos</th>
                                <th id="esquinaTablaArtista2">Bandas</th>

                            </tr>
                        </thead>

                        <tbody>


                            <tr *ngFor="#us of userList; #i = index">
                                <td><a [routerLink]="['Artist', {id: us.id}]" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a [routerLink]="['Artist', {id: us.id}]" class="enlaceListaArtista">{{us.userName}}</a></td>

                                <td>
                                    <div *ngIf="us.isArtist">Si</div>
                                </td>
                                <td>
                                    <ul>
                                        <li *ngFor="#ins of us.instruments" > <img src="{{ins.image_url_white}}" alt="Profile image" id="ImagenInstrumento"/> {{ins.name}} </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li *ngFor="#band of us.bands" [routerLink]="['Band', {id: band.id}]" >{{band.groupName}}</li>
                                    </ul>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <!--Paginas-->
                    <ul class="pagination" id="paginasArtistas">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
                <!--Fin Lista de Artistas-->

            </div>
        </div>
