  <div class="content-page container">
            <div class="row">
                <!--Titulo contenido -->
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><span class="glyphicon glyphicon-pushpin"></span>Eventos<small>  Come in!</small></h1>
                    </div>
                </div>

                <!--Menu Lateral. Filtro de busqueda-->
                <div class="col-md-4">

                    <div class="panel panel-default profile-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Busqueda</h3>
                        </div>

                        <div class="panel-body">

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Nombre del Evento:</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre del artista">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Banda:</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre de la banda">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <div class="col-lg-12">
                                <h4 id="opciones">Genero:</h4>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Rock
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Pop
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Jazz
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Rap
                                    </label>
                                </div>
                                <div class="checkbox" id="checkboxGenero">
                                    <label class="labelBusqueda">
                                        <input type="checkbox">Reggae
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Metal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Hard Rock
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Punk
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Indie
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Blues
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Grunge
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Trash Metal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="labelBusqueda" id="checkboxGenero">
                                        <input type="checkbox">Otros
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Lista de Artistas-->
                <div class="col-md-8">

                    <table class="table">

                        <thead>
                            <tr>
                                <th id="esquinaTablaArtista1"></th>
                                <th>Evento</th>
                                <th>Generos</th>
                                <th>Bandas</th>
                                <th id="esquinaTablaArtista2">Fecha y localización</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><a href="#" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a href="#" class="enlaceListaArtista">Indie Week</a></td>
                                <td>
                                    <ul>
                                        <li>Indie</li>
                                        <li>Rock</li>
                                        <li>Otros</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Arctic Monkeys</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li>29/03/2016</li>
                                        <li>Madrid</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a href="#" class="enlaceListaArtista">Trash toor</a></td>
                                <td>
                                    <ul>
                                        <li>Trash Metal</li>
                                        <li>Heavy</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Metalica</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li>29/03/2016</li>
                                        <li>Barcelona</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a href="#" class="enlaceListaArtista">Trash toor</a></td>
                                <td>
                                    <ul>
                                        <li>Trash Metal</li>
                                        <li>Heavy</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Megadeth</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li>29/03/2016</li>
                                        <li>Barcelona</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a href="#" class="enlaceListaArtista">Punkicide</a></td>
                                <td>
                                    <ul>
                                        <li>Punk</li>
                                        <li>Grunge</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Potaje de gusanos</li>
                                        <li>La abuela punk</li>
                                        <li>Chaos Theory</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="ubicacion">
                                        <li>01/04/2016</li>
                                        <li>Madrid</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Paginas-->
                </div>
                <!--Fin Lista de Artistas-->

            </div>
            <ul class="pagination" id="paginasArtistas">
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>

    <!-- Formulario configuracion -->
    <div class="formulario" id="formularioConfiguracion">
        <div class="panel panel-default">
            <div class="panel-head">
                <h3 class="content-panel">Ajustes de perfil</h3>
           </div>
           <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="formLabel control-label col-sm-2" for="nombrePerfil">Nombre de perfil</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombrePerfil" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="formLabel control-label col-sm-2" for="email">Email</label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="email" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="formLabel control-label col-sm-2" for="descripcion">Descripcion</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="descripcion" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="BotonFormulario">
                        <button type="submit" class="btn btn-default">Aceptar</button>
                    </div>
               </form>
           </div>
        </div>
    </div>
    <!-- Fin formulario -->

    <!-- Formulario editar contraseña -->
    <div class="formulario" id="formularioContraseña">
        <div class="panel panel-default">
            <div class="panel-head">
                <h3 class="content-panel">Editar contraseña</h3>
           </div>
           <div class="panel-body">
                <form class="form-horizontal" role="form">
                     <div class="form-group">
                        <label class="formLabel control-label col-sm-2" for="contraseña">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="contraseña" placeholder="">
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="formLabel control-label col-sm-2" for="contraseña">Confirmar contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="contraseña" placeholder="">
                        </div>
                    </div>
                    <div class="BotonFormulario">
                        <button type="submit" class="btn btn-default">Aceptar</button>
                    </div>
               </form>
           </div>
        </div>
    </div>
    <!-- Fin formulario -->
