<div class="content-page container">
            <div class="row">
                <!--Titulo contenido -->
                <div class="col-md-12">
                    <div class="page-header">
                        <h1><span class="glyphicon glyphicon-text-background"></span>rtistas<small> Follow them!</small></h1>
                    </div>
                </div>

                <!--Menu Lateral. Filtro de busqueda-->
                <div class="col-md-4">

                    <div class="panel panel-default profile-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Búsqueda</h3>
                        </div>

                        <div class="panel-body">

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Nombre:</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre del artista">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <div class="col-lg-12">
                                <h4 id="BusquedaInstrumentos">Banda:</h4>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Nombre de la banda">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="BotonBusqueda">Buscar!</button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->

                            <h4 id="OpcionesInstrumentos">Instrumentos:</h4>
                            <div class="checkbox" id="checkboxInstrumentos">
                                <label class="labelBusqueda">
                                    <input type="checkbox">Voz <img src="../img/instrumentoVozN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox" id="checkboxInstrumentos">
                                <label class="labelBusqueda">
                                    <input type="checkbox">Guitarra <img src="../img/instrumentoGuitarN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox" id="checkboxInstrumentos">
                                <label class="labelBusqueda">
                                    <input type="checkbox">Bajo <img src="../img/instrumentoBajoN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox" id="checkboxInstrumentos">
                                <label class="labelBusqueda">
                                    <input type="checkbox">Bateria <img src="../img/instrumentoBateriaN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox" id="checkboxInstrumentos">
                                <label class="labelBusqueda">
                                    <input type="checkbox">Piano <img src="../img/instrumentoPianoN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="labelBusqueda" id="checkboxInstrumentos">
                                    <input type="checkbox">Violin <img src="../img/instrumentoViolinN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="labelBusqueda" id="checkboxInstrumentos">
                                    <input type="checkbox">Trompeta <img src="../img/instrumentoTrompetaN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                            <div class="checkbox">
                                <label class="labelBusqueda" id="checkboxInstrumentos">
                                    <input type="checkbox">Otros <img src="../img/instrumentoOtroN.png" alt="Instrument" id="InstrumentSimbol">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Lista de Artistas-->
                <div class="col-md-8">

                    <table class="table">

                        <thead>
                            <tr>
                                <th id="esquinaTablaArtista1">Perfil</th>
                                <th>Nombre </th>
                                <th>Instrumentos</th>
                                <th id="esquinaTablaArtista2">Bandas</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="#us of lista; #i = index">
                                <td><a href="#" class="enlaceListaArtista"><img src="../img/profile_image.png" alt="Profile image" class="img-circle" id="ImagenArtistList"></a></td>
                                <td><a href="artista.html" class="enlaceListaArtista">{{us.userName}}</a></td>
                                <td>
                                    <ul>
                                        <li *ngFor="#ins of instruments[i].listaInst" > <img src="{{ins.image_url_white}}" alt="Profile image" id="ImagenInstrumento"/> {{ins.name}} </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li *ngFor="#b of us.band">{{b}}</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--Paginas-->
                    <ul class="pagination" id="paginasArtistas">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
                <!--Fin Lista de Artistas-->

            </div>
        </div>
