  <div class="content-page container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-envelope"></span> Mensajes</h1>
                        </div>
                    </div>
                    <div class="col-md-12" id="profile_blog">
                      <div class="row">
                          <div class="col-md-12">
                              <!-- Mensajes -->
                              <div class="panel panel-default">
                                  <div class="panel-heading" id="panelHeading">
                                      <ul class="nav nav-tabs">
                                          <li><a [class.active]="receivedOption" (click)="clickReceived()" data-toggle="tab"><h3 class="panel-title" id="receivedButton"><span class="glyphicon glyphicon-inbox"></span> Recibidos  <span class="badge">{{nonReadMessages}}</span></h3></a></li>
                                          <li><a [class.active]="!receivedOption" (click)="clickSended()" data-toggle="tab"><h3 class="panel-title"><span class="glyphicon glyphicon-log-out"></span> Enviados</h3></a></li>
                                      </ul>
                                  </div>
                                  <div class="panel-body">
                                      <div class="row">
                                          <div class="col-md-4">
                                              <p><a class="btn btn-default btn-lg btn-block"  data-toggle="modal" data-target="#sendMessage" id="writeButton">Redactar</a></p>
                                              <div class="list-group">
                                                <!--Bandeja de entrada-->
                                                <a *ngFor="#mes of messagesShowed" [class.activeMessage]="mes === actualMessage" class="list-group-item" (click)="clickOnMessage(mes)">
                                                    <table>
                                                        <tr>
                                                            <td><img src="../img/profile_image.png" alt="Profile image" id="imagenUsuario"></td>
                                                            <td id="alineacionMensajes">
                                                                <h4 *ngIf="receivedOption" [class.nonReadMessage]="!mes.message.read" class="list-group-item-heading">{{mes.message.sender.userName}}</h4>
                                                                <h4 *ngIf="!receivedOption" class="list-group-item-heading">{{mes.message.destiny.userName}}</h4>
                                                                <p class="list-group-item-text">{{mes.message.subject}}</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                              </div>
                                              <!--Paginas-->
                                              <ul class="pagination" id="paginas">
                                                <li><a href="#">Prev</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">Next</a></li>
                                              </ul>
                                          </div>
                                          <!--Contenido del mensaje-->
                                          <div class="col-md-8">
                                              <div class="panel panel-default">
                                                  <div class="panel-heading">
                                                      <a id="answerButton" data-toggle="modal" data-target="#answerMessage"><span class="glyphicon glyphicon-arrow-left" id="responder"></span></a>
                                                      <span class="glyphicon glyphicon-trash" id="eliminar"></span>
                                                  </div>
                                                  <div *ngIf="actualMessage" class="panel-body" id="correo" data-spy="scroll">
                                                    <h4 class="list-group-item-heading" id="origencorreo">{{actualMessage.message.subject}}</h4>
                                                    <p class="list-group-item-text">
                                                    {{actualMessage.message.message}}
                                                    </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                     </div>
                </div>
            </div>

        <!-- Formulario Enviar Mensaje -->
        <div id="sendMessage" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-body">
              <div class="formulario" id="formularioRedactar">
                  <div class="panel panel-default">
                      <div class="panel-head">
                          <h3 class="content-panel">Nuevo mensaje</h3>
                     </div>
                     <div class="panel-body">
                          <form class="form-horizontal" role="form">
                              <div class="form-group">
                                  <label class="formLabel control-label col-sm-2" for="ipara">To:</label>
                                  <div class="col-sm-10">
                                      <input type="text" class="form-control" id="para" placeholder="destinatario">
                                  </div>
                              </div>
                               <div class="form-group">
                                  <label class="formLabel control-label col-sm-2" for="texto">Mensaje</label>
                                  <div class="col-sm-10">
                                      <textarea class="form-control" rows="5" id="texto" placeholder=""></textarea>
                                  </div>
                              </div>
                              <div class="BotonFormulario">
                                  <button type="submit" class="btn btn-default">Enviar</button>
                              </div>
                         </form>
                     </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin formulario -->

        <!-- Formulario Contestar Mensaje -->
        <div id="answerMessage" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-body">
              <div class="formulario" id="formularioResponder">
                  <div class="panel panel-default">
                      <div class="panel-head">
                          <h3 class="content-panel">Responder mensaje</h3>
                     </div>
                     <div class="panel-body">
                          <form class="form-horizontal" role="form">
                               <div class="form-group">
                                  <label class="formLabel control-label col-sm-2" for="texto">Mensaje</label>
                                  <div class="col-sm-10">
                                      <textarea class="form-control" rows="5" id="texto" placeholder=""></textarea>
                                  </div>
                              </div>
                              <div class="BotonFormulario">
                                  <button type="submit" class="btn btn-default">Enviar</button>
                              </div>
                         </form>
                     </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin formulario -->
