  <div class="content-page container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h1><span class="glyphicon glyphicon-envelope"></span> Mensajes</h1>
                        </div>
                    </div>
                    <div class="col-md-12" id="profile_blog">
                      <div class="row">
                          <div class="col-md-12">
                              <!-- Mensajes -->
                              <div class="panel panel-default">
                                  <div class="panel-heading" id="panelHeading">
                                      <ul class="nav nav-tabs">
                                          <li class="active"><a href="" data-toggle="tab"><h3 class="panel-title"><span class="glyphicon glyphicon-inbox"></span> Recibidos  <span class="badge">1</span></h3></a></li>
                                          <li><a href="" data-toggle="tab"><h3 class="panel-title"><span class="glyphicon glyphicon-log-out"></span> Enviados</h3></a></li>
                                      </ul>
                                  </div>
                                  <div class="panel-body">
                                      <div class="row">
                                          <div class="col-md-4">
                                              <p><a class="btn btn-default btn-lg btn-block" id="writeButton">Redactar</a></p>
                                              <div class="list-group">
                                                <!--Bandeja de entrada-->
                                                <a href="#" class="list-group-item">
                                                    <table>
                                                        <tr>
                                                            <td><img src="../img/profile_image.png" alt="Profile image" id="imagenUsuario"></td>
                                                            <td id="alineacionMensajes">
                                                                <h4 class="list-group-item-heading">Pepe</h4>
                                                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                                <a href="#" class="list-group-item">
                                                    <table>
                                                        <tr>
                                                            <td><img src="../img/profile_image.png" alt="Profile image" id="imagenUsuario"></td>
                                                            <td id="alineacionMensajes">
                                                                <h4 class="list-group-item-heading">Marta</h4>
                                                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                                <a href="#" class="list-group-item">
                                                    <table>
                                                        <tr>
                                                            <td><img src="../img/profile_image.png" alt="Profile image" id="imagenUsuario"></td>
                                                            <td id="alineacionMensajes">
                                                                <h4 class="list-group-item-heading">Alberto</h4>
                                                                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </a>
                                              </div>
                                              <!--Paginas-->
                                              <ul class="pagination" id="paginas">
                                                <li><a href="#">Prev</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">Next</a></li>
                                              </ul>
                                          </div>
                                          <!--Contenido del mensaje-->
                                          <div class="col-md-8">
                                              <div class="panel panel-default">
                                                  <div class="panel-heading">
                                                      <a id="sendButton"><span class="glyphicon glyphicon-share-alt" id="reenviar"></span></a>
                                                      <a id="answerButton"><span class="glyphicon glyphicon-arrow-left" id="responder"></span></a>
                                                      <span class="glyphicon glyphicon-trash" id="eliminar"></span>
                                                  </div>
                                                  <div class="panel-body" id="correo" data-spy="scroll">
                                                    <h4 class="list-group-item-heading" id="origencorreo">List group item heading</h4>
                                                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                                                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                     </div>
                </div>
            </div>

        <!-- Formulario Redactar Mensaje -->
        <div class="formulario" id="formularioRedactar">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h3 class="content-panel">Nuevo mensaje</h3>
               </div>
               <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="ipara">To:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="para" placeholder="destinatario">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="texto">Mensaje</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="texto" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="BotonFormulario">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                   </form>
               </div>
            </div>
        </div>
        <!-- Fin formulario -->

        <!-- Formulario Reenviar Mensaje -->
        <div class="formulario" id="formularioReenviar">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h3 class="content-panel">Reenviar mensaje</h3>
               </div>
               <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="para">To:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="para" placeholder="destinatario">
                            </div>
                        </div>
                        <div class="BotonFormulario">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                   </form>
               </div>
            </div>
        </div>
        <!-- Fin formulario -->

        <!-- Formulario Contestar Mensaje -->
        <div class="formulario" id="formularioResponder">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h3 class="content-panel">Responder mensaje</h3>
               </div>
               <div class="panel-body">
                    <form class="form-horizontal" role="form">
                         <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="texto">Mensaje</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="texto" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="BotonFormulario">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                   </form>
               </div>
            </div>
        </div>
        <!-- Fin formulario -->

        <!-- Formulario configuracion -->
        <div class="formulario" id="formularioConfiguracion">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h3 class="content-panel">Ajustes de perfil</h3>
               </div>
               <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="nombrePerfil">Nombre de perfil</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nombrePerfil" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="email" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="descripcion">Descripcion</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="descripcion" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="BotonFormulario">
                            <button type="submit" class="btn btn-default">Aceptar</button>
                        </div>
                   </form>
               </div>
            </div>
        </div>
        <!-- Fin formulario -->

        <!-- Formulario editar contraseña -->
        <div class="formulario" id="formularioContraseña">
            <div class="panel panel-default">
                <div class="panel-head">
                    <h3 class="content-panel">Editar contraseña</h3>
               </div>
               <div class="panel-body">
                    <form class="form-horizontal" role="form">
                         <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="contraseña">Contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="contraseña" placeholder="">
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="formLabel control-label col-sm-2" for="contraseña">Confirmar contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="contraseña" placeholder="">
                            </div>
                        </div>
                        <div class="BotonFormulario">
                            <button type="submit" class="btn btn-default">Aceptar</button>
                        </div>
                   </form>
               </div>
            </div>
        </div>
        <!-- Fin formulario -->
