<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a [routerLink]="['Principal']" class="navbar-brand" href="principal.html">MiausicBox</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
              <li><a (click)="goToProfile()"><span class="glyphicon glyphicon-user"></span>Perfil</a></li>
              <li><a [routerLink]="['Messages']"><span class="glyphicon glyphicon-envelope"></span>Mensajes</a></li>
              <li><a [routerLink]="['Events']"><span class="glyphicon glyphicon-pushpin"></span>Eventos</a></li>
              <li><a [routerLink]="['ListArtist']"><span class="glyphicon glyphicon-text-background"></span>rtistas</a></li>
              <li><a [routerLink]="['ListBands']"><span class="glyphicon glyphicon-cd"></span>Bandas</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Buscar</button>
          </form>
           <div class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                    Configuración <span class="glyphicon glyphicon-cog"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a data-toggle="modal" data-target="#configuracion" id="confButton">Ajustes de perfil</a></li>
                  <li><a data-toggle="modal" data-target="#editPass" id="passButton">Editar contraseña</a></li>
                  <li class="divider"></li>
                  <li><a [routerLink]="['Index']" ><span class="glyphicons glyphicons-door"></span> Salir</a></li>
                </ul>
              </li>
            </div>
      </div>
  </div>
</nav>

<!-- Formulario configuracion -->
<div id="configuracion" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="formulario" id="formularioConfiguracion">
          <div class="panel panel-default">
              <div class="panel-head">
                  <h3 class="content-panel">Ajustes de perfil</h3>
             </div>
             <div class="panel-body">
                  <form class="form-horizontal" role="form">
                      <div class="form-group">
                          <label class="formLabel control-label col-sm-2" for="nombrePerfil">Nombre de perfil</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" id="nombrePerfil" placeholder="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formLabel control-label col-sm-2" for="email">Email</label>
                          <div class="col-sm-10">
                              <input type="url" class="form-control" id="email" placeholder="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="formLabel control-label col-sm-2" for="descripcion">Descripcion</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" rows="5" id="descripcion" placeholder=""></textarea>
                          </div>
                      </div>
                      <div class="BotonFormulario">
                          <button type="submit" class="btn btn-default">Aceptar</button>
                      </div>
                 </form>
             </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin formulario -->

<!-- Formulario Edicion contraseña -->
<div id="editPass" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="formulario" id="formularioContraseña">
          <div class="panel panel-default">
              <div class="panel-head">
                  <h3 class="content-panel">Editar contraseña</h3>
             </div>
             <div class="panel-body">
                  <form class="form-horizontal" role="form">
                       <div class="form-group">
                          <label class="formLabel control-label col-sm-2" for="contraseña">Contraseña</label>
                          <div class="col-sm-10">
                              <input type="password" class="form-control" id="contraseña" placeholder="">
                          </div>
                      </div>
                       <div class="form-group">
                          <label class="formLabel control-label col-sm-2" for="contraseña">Confirmar contraseña</label>
                          <div class="col-sm-10">
                              <input type="password" class="form-control" id="contraseña" placeholder="">
                          </div>
                      </div>
                      <div class="BotonFormulario">
                          <button type="submit" class="btn btn-default">Aceptar</button>
                      </div>
                 </form>
             </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin formulario -->
