/**
      /--------------------------/
     /---- Estilos artista -----/
    /--------------------------/
*/


.panel-title {
    font-weight: bold;
    color:white;
}

.panel-default {
    border: 0px;
    border-radius: 5px;
}

.panel-head {
    padding: 0.5em;
    padding-left: 2em;
}

#Informacion {
    color: black;
}

#Informacion a {
    display: block;
    color:black;
}

#Informacion a:hover {
    color: #00BC8C;
    text-decoration: none;
}

#Informacion button:hover {
    background-color: #00BC8C;
}

#PrimeraFila {
    border-top-style: hidden;
}

#ListaGeneros {
    list-style: none;
}


#TablaSites tr td {
    border-top-width: 0px;
    border-top-style: none;
}

#TablaSites button {
    text-align: right;
}

#TablaSites button:hover {
    background-color: #00BC8C;
}

#ImagenInstrumento {
    height: 2em;
    width: 2em;
}

#ListaBandas {
    color: black;
}

#ImagenBanda {
    height: 3em;
    width: 3em;
}

.enlaceBanda {
    color: black;
}

.enlaceBanda:hover {
    color:#00BC8C;
    text-decoration: none;
}

#Eventos {
    color:black;
}

#Eventos a {
    color:black;
}

#Eventos a:hover {
    color: #00BC8C;
    text-decoration: none;
}

#BlogFooter {
    color: black;
    height: 3em;
}

#AutorBlog {
    text-align: left;
}

#AutorBlog a {
    color: black;
    text-decoration: none;
}


#AutorBlog a:hover {
    color: #00BC8C;
}

#BandaBlog {
    text-align: center;
}

#BandaBlog a {
    color: black;
    text-decoration: none;
}

#BandaBlog a:hover {
    color: #00BC8C;
}

#FechaBlog {
    text-align: right;
}

#followButton {
    background-color: #00BC8C;
    color: aliceblue;
}