/**
      /------------------------/
     /---- Estilos banda -----/
    /------------------------/
*/

.panel-title {
    font-weight: bold;
    color:white;
}

.panel-default {
    border: 0px;
    border-radius: 5px;
}

.panel-head {
    padding: 0.5em;
    padding-left: 2em;
}

#Informacion {
    color: black;
}

#Informacion a {
    display: block;
    color:black;
}

#Informacion a:hover {
    color: #00BC8C;
    text-decoration: none;
}

#Informacion button:hover {
    background-color: #00BC8C;
}

#PrimeraFila {
    border-top-style: none;
}

#ListaGeneros {
    list-style: none;
}

#TablaSites tr td {
    border-top-width: 0px;
    border-top-style: none;
}

#TablaSites button {
    text-align: right;
}

#TablaSites button:hover {
    background-color: #00BC8C;
}

#Eventos {
    color:black;
}

#Eventos a {
    color:black;
}

#Eventos a:hover {
    color: #00BC8C;
    text-decoration: none;
}

#ListaItems {
    background-color: #222222;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table thead tr{
    background-color: #00BC8C;
}

.enlaceArtista {
    color: white;
}

.enlaceArtista:hover {
    color:#00BC8C;
    text-decoration: none;
}

#TableHead tr {
    background-color: #222222;
    color: #00BC8C;
}

#EsquinaIzqTabla {
    border-top-left-radius: 5px;
}

#EsquinaDerTabla {
    border-top-right-radius: 5px;
}

#ImagenArtistList {
    height: 4em;
    width: 4em;
}

#InstrumentSimbol {
    height: 1.3em;
}

.linkButton {
    color: black;
    width: 5em;
}

.linkButton:hover {
    background-color: #00BC8C;
}

#BlogFooter {
    color: black;
    height: 3em;
}

#AutorBlog {
    text-align: left;
}

#AutorBlog a {
    color: black;
    text-decoration: none;
}

#AutorBlog a:hover {
    color: #00BC8C;
}

#BandaBlog {
    text-align: center;
}

#BandaBlog a {
    color: black;
    text-decoration: none;
}

#BandaBlog a:hover {
    color: #00BC8C;
}

#FechaBlog {
    text-align: right;
}
