#TituloPortada h3 {   
    text-align: center;
    font-size: 3em;
}
#LogoMain{
    width: 25%;
    height: 25%;
    float:left;
}
#botonEntrar {
    margin-left: 17em;
}

#enter {
    margin-top: 5%;  
}

#signin {
    background-color: #00BC8C;
    border-radius: 1em;
    padding-bottom: 1em;
    margin-top: -2em;
}

#login {
    background-color: #00BC8C;
    border-radius: 1em;  
    padding-bottom: 1em;
    margin-top: -2em;
}
/*Entrar*/
#logo {
    width: 25%;
    height: 25%;
}
#registro {
    color: aliceblue;
    font-size: 0.80em;
    text-decoration: underline;
}
#boton {
    float: right;
}