#carousel-example-generic {
    text-align: center;
}

#imagenCarousel{
    width: 100%;
}

#TituloPortada h3 {
    text-align: center;
    font-size: 3em;
}

#LogoMain{
    width: 25%;
    height: 25%;
    float:left;
    margin-left: 2em;
}
#enter{
    margin-top: 1em;
}

#signin {
    background-color: #00BC8C;
    border-radius: 1em;
    padding-bottom: 1em;
}

#login {
    background-color: #00BC8C;
    border-radius: 1em;
    padding-bottom: 1em;

}

#botonEntrar {
    margin-left: 10em;
}

/*Entrar*/
#logo {
    width: 25%;
    height: 25%;
}
#registro {
    color: aliceblue;
    font-size: 0.80em;
    text-decoration: underline;
}
#boton {
    float: right;
}

/*Para Signin*/
#imgperfil {
    float: left;
}

/* Checkbox isArtist */
#check{
    text-align: left;
}