/***********************************Mensajes***********************************/

#panelHeading {
    background-color: #00BC8C;
}

.nav-tabs > li.active > a > h3 {
    color: #00BC8C;
}

.nav-tabs > li > a > h3 {
    color: aliceblue;    
}

.nav-tabs > li > a:hover {
    color: #00BC8C;
}

.nav-tabs > li > a > h3:hover {
    color: #00BC8C;    
}

#botonRedactar {
    background-color: #00BC8C;
    color: aliceblue;
    font-weight: bold;
}

#botonRedactar:hover {
   background-color: #00A379;
}

#imagenUsuario {
    height: 5em;
}

#alineacionMensajes {
    padding-left: 1em;
    color:dimgrey;
}

#responder {
    padding-left: 41em;
    padding-right: 0.5em;
    position: right;
}

#reenviar {
    padding-right: 0.5em;
    position: right;
}

#eliminar {
    position: right;
}

#responder:hover {
    color: #00A379;
}

#reenviar:hover {
    color: #00A379;
}

#eliminar:hover {
    color: #00A379;
}

#origencorreo {
    color: black;
}

#correo {
    color: dimgrey;
    padding-bottom: 10.5em;
}



