#logo {
    height: 1.35em;
    width: 2em;
}

#nombre {   
    color: aliceblue;
    margin-right: 2em;  
    font-size: 3em;
    text-decoration: none; 
}

#nombre:hover {   
    color: #00A379;
}

#entrarButton {  
    color: #00BC8C;
    text-align: right;
    margin-top: 2em;
    text-decoration: none; 
}

#entrarButton:hover {  
    color: aliceblue;    
}

#page {
    padding-top: 1.5em;
}

#contenido {
    margin-top: 2em;
}

