
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #00BC8C;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.footer{
	-webkit-animation-delay: 2s;
  	-moz-animation-delay: 2s;
 	-animation-delay: 2s;
}


#carousel-example-generic {
    text-align: center;
}

#imagenCarousel{
    width: 100%;
}

#TituloPortada h3 {
    text-align: center;
    font-size: 3em;
}

#LogoMain{
    width: 25%;
    height: 25%;
    float:left;
    margin-left: 2em;
}
#enter{
    margin-top: 1em;
}

#signin {
    background-color: #00BC8C;
    border-radius: 1em;
    padding-bottom: 1em;
}

#login {
    background-color: #00BC8C;
    border-radius: 1em;
    padding-bottom: 1em;

}

#botonEntrar {
    margin-left: 10em;
}

/*Entrar*/
#logo {
    width: 25%;
    height: 25%;
}
#registro {
    color: aliceblue;
    font-size: 0.80em;
    text-decoration: underline;
}
#boton {
    float: right;
}

/*Para Signin*/
#imgperfil {
    float: left;
}

/* Checkbox isArtist */
#check{
    text-align: left;
}